#tpl {
    .goods-container {
        width: min(rem(1024), 1024px);
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(38) 0 rem(42);
        position: relative;

        @media (--viewport-mobile-pt) {
            padding: rem(28, true) rem(15, true);
            width: 100%;
        }
    }

    .goods-wrapper {
        width: 100%;
        position: relative;
        margin-bottom: rem(80);

        @media (--viewport-mobile-pt) {
            margin-bottom: rem(33, true);
        }

        .goods-women {
            opacity: 0;
        }

        &.women {
            .goods-women {
                opacity: 1;
            }

            .goods-men {
                opacity: 0;
            }
        }
    }

    .inputs-wrapper {
        display: flex;
        background-color: #f2ece1;
        border-radius: rem(381);
        position: relative;
        margin-bottom: rem(43);

        @media (--viewport-mobile-pt) {
            border-radius: rem(300, true);
            margin-bottom: rem(26, true);
        }

        &::before {
            $p: 2.5;
            $pPt: 2;

            z-index: 0;
            content: "";
            position: absolute;
            width: calc(50% - rem($p));
            height: calc(100% - 2 * rem($p));
            background-color: $color-accent;
            top: rem($p);
            left: rem($p);
            border-radius: rem(381);
            transition: transform 0.35s ease-in-out;

            @media (--viewport-mobile-pt) {
                width: calc(50% - rem($pPt, true));
                height: calc(100% - 2 * rem($pPt, true));
                top: rem($pPt, true);
                left: rem($pPt, true);
                border-radius: rem(300, true);
            }
        }

        &.women::before {
            transform: translateX(100%);
        }
    }

    .input-group {
        padding: rem(14) rem(38);
        position: relative;
        z-index: 2;

        @media (--viewport-mobile-pt) {
            padding: rem(10, true) rem(30, true);
        }

        input {
            display: none;
        }

        label {
            cursor: pointer;
            font-family: $font-title;
            font-weight: $font-weight-title;
            font-size: rem(25.4);
            color: $color-accent;
            transition: color 0.3s ease 0.2s;

            @media (--viewport-mobile-pt) {
                font-size: rem(16, true);
            }
        }

        input:checked + label {
            color: $color-light;
        }
    }

    .section-goods {
        width: 100%;
        display: flex;
        text-align: center;
        font-size: rem(20);
        transition: opacity 0.35s ease;

        &:last-child {
            position: absolute;
            top: 0;
            left: 0;
        }

        p {
            text-align: center;
            font-size: 1em;
            text-transform: uppercase;
        }

        @media (--viewport-mobile-pt) {
            margin-bottom: 0;
            font-size: rem(22, true);
        }

        .swiper-wrapper {
            justify-content: space-between;

            @media (--viewport-mobile-pt) {
                gap: unset;
                justify-content: flex-start;
            }
        }

        @media (--viewport-mobile-pt) {
            padding: 0;
        }

        &__card {
            width: calc(33%);
            text-decoration: unset;

            @media (--viewport-mobile-pt) {
                margin-right: unset;
                width: 100%;
                max-width: unset;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: rem(40, true);
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }

        &__img-box {
            position: relative;
            width: 100%;
            padding: 38% 0;
            overflow: hidden;
            margin-bottom: rem(15);

            @media (--viewport-mobile-pt) {
                width: rem(375, true);
                height: rem(285.85, true);
                padding: 0;
                margin-bottom: rem(16.5, true);
            }
        }

        &__link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 100%;
            object-position: center;
            transition: transform 0.2s ease;
            object-fit: cover;

            @media (--viewport-mobile-pt) {
                position: static;
            }
        }

        &__bg-link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            @media (--viewport-mobile-pt) {
                display: none;
            }
        }

        .button {
            display: none;

            @media (--viewport-mobile-pt) {
                display: block;
                width: calc(100% - rem(40, true) * 2);
                margin-top: rem(25, true);
            }
        }

        &__pagination {
            display: none;
            bottom: rem(0, true);

            @media (--viewport-mobile-pt) {
                display: block;
            }

            .swiper-pagination-bullet {
                width: rem(7, true);
                height: rem(7, true);
                background-color: #777776;
                opacity: 0.3;
                transition: opacity 0.2s ease, transform 0.2s ease;

                &.swiper-pagination-bullet-active {
                    background-color: #777776;
                    opacity: 1;
                    transform: scale(1.2);
                }

                &:not(:last-of-type) {
                    margin-right: rem(5, true);
                }
            }
        }
    }

    .goods-decor {
        background-image: url("~assets/images/snowflakes-goods.png");

        @media (--viewport-mobile-pt) {
            display: none;
        }
    }
}
