#tpl {
    .button {
        $fs: 16.67;

        display: inline-block;
        box-sizing: border-box;
        text-decoration: unset;
        font-size: rem($fs);
        padding: em(17.9, $fs) em(60, $fs);
        border: min(em(1.2, $fs), 1.2px) solid $color-light;
        text-align: center;
        transition: background-color 0.35s ease, color 0.35s ease;
        background-color: transparent;
        text-transform: uppercase;
        color: $color-light;

        &:hover {
            background-color: $color-light;
            color: $color-accent;
        }

        @media (--viewport-mobile) {
            width: 100%;
            font-size: rem(14, true);
            padding: rem(15, true) rem(10, true);
            line-height: 1;
        }

        &.fix-w {
            width: em(369.85, $fs);
        }

        &.accent {
            background-color: $color-accent;
            border-color: $color-accent;
            font-size: rem(14);
            padding: em(15, 14) em(60, 14);

            &:hover {
                background-color: transparent;
            }

            @media (--viewport-mobile-pt) {
                font-size: rem(14, true);
            }
        }
    }
}
