// colors
$color-bg: #f0f0f0;
$color-light: #fff;
$color-text: #0d0d0d;
$color-accent: #b40061;

// text
$font-main: "Mulish-Regular", system-ui, sans-serif;
$font-weight-main: 400;
$font-title: "Mulish-Bold", system-ui, sans-serif;
$font-weight-title: 700;
