article#tpl
    head
        include components/meta.pug
    //- include some components
    include components/goods/goods.pug
    include components/ui/button/button.pug
    include components/video/video.pug
    //- +goods(data.goods)
    //- +button("Пример кнопки", '/', 'pt-transparent')

